
{% extends "events/base.html" %}
{% block content %}

<div class="new-container"> 
    <h2>Welcome to EventVox!</h2>
    <p> We are dedicated to bringing you information about exciting events happening around the community. Whether it's cultural festivals, educational workshops, or entertainment shows, we've got you covered. Our mission is to provide a centralized hub where event organizers can showcase their events, and attendees can discover and participate in a diverse range of activities. We believe in the power of community engagement and the positive impact that events can have on individuals and society as a whole. Explore our platform, discover upcoming events, and stay informed about the latest happenings in your area. If you are an event organizer, consider listing your event with us to reach a broader audience. Thank you for being a part of our community. We look forward to helping you make the most of every event experience!</p>
</div>
<style>
    .new-container {
        background-color: rgba(221, 208, 208, 0.826);
        border-radius: 15px;
        border: 3px solid #282838;
        max-width: 3000px;
        margin-top: 100px; 
        padding: 20px;
        margin-bottom: 25px;
        box-shadow: 0 0 25px #312a2a;

    }
    h2 {
    margin-bottom: 30px; }


</style>
{% endblock content %}
