{% extends "events/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'events/main.css'%}">
{% endblock %}
{% block content %}
    {% for event in events %}
        <article class="media content-section">
          <div class="media-body">
            <img class="rounded-circle article-img" src="{{ event.image.url }}">
            <div class="article-metadata">
              <a class="mr-2" >Hosted By : {{ event.organization }}</a>
              <small class="text-muted"> Happening On : {{ event.date|date:"F d, Y" }}</small>  
            </div>
            <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.title }}</a></h2>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
